{% extends 'base.html' %}
{% block title %}Hello{% endblock %}
{#{% block search %}#}
{#    <div class="search-form">#}
{#        <form action="{% url 'index' %}" method="GET">#}
{#            {{ form.search }}#}
{#            <input type="submit" value="Найти">#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}
{% block content %}
    <h1>My mini shop!</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for product in products %}
        <div class="linegr">
            <h3><a href="{% url "product_view" product.pk %}">{{ product.name }}</a></h3>
            <p>Статус: ({{ product.description }})</p>
            <p>Published at: {{ product.category }}</p>
            <a href="{% url "basket_create"  %}">Add Basket</a>

{#            <p><a href="{% url 'article_update' product.pk %}">Update</a> ~ <a href="{% url 'article_delete' article.pk %}">Delete</a></p>#}
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}